@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jersey 10", sans-serif;
}

.music-player {
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    background-color: aquamarine;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.song-img {
    width: 220px;
    border-radius: 2px;
    border: 2px solid white;
    margin-bottom: 20px;
}

.music-player h1 {
    margin: 10px 0 5px;
}

.music-player p {
    font-size: 14px;
    color: #3b4a33;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #0575ff;
    cursor: pointer;
    margin: 30px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #0575ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
